@import url('http://fonts.cdnfonts.com/css/roboto');
.main-container{
    background-image: url("./img/main-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    display: flex;
    flex-direction: column;
}
body{
    margin:0px;
}
.main-header-container{
    margin: 20px 10% 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
}
.sub-header{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
}
.main-content-container{
    margin: 20px 10% 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.content-header{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;
    transition: color 0.6s ease;
    width: fit-content;
}

.movie-detail-container img{
    height: 100%;
    object-fit: cover;
    margin-right: 50px;
}
.movie-detail-container{
    background-color: rgba(256, 256, 256, 0.2);
    display: none;
    padding: 15px 2.5%; 
    margin: 2.5%;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    border-radius:8px ;
    transition: all 0.6s ease;
    width:50%;
    height: 125px;
}
.content-header:hover{
    color: rgba(0, 209, 256);
    transition: color 0.6s ease;
    cursor: pointer;
}
.movie-detail-container:hover{
    background-color: rgba(0, 209, 256, 0.5);
    transition: all 0.6s ease;
    cursor: pointer;
}
.movie-details{
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    
}
.movie-detail{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
}
.movie-detail span{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
}
.history-content{
    display: flex;
    flex-direction: column;
}
.sub-content{
    display: flex;
    justify-content: space-around;
}
.recommend-content{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.movie-option{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:100px;
}
.movie-option i{
    font-size: 20px;
    color: #FFFFFF;
    transition: background-color 0.6s ease;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height:25px;
}
.next-page-container{
    display: flex;
    justify-content: center;
}
.next-page{
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(256, 256, 256, 0.2);
    transition: background-color 0.6s ease;
}
.next-page:hover{
    background-color: rgba(0, 209, 256, 0.5);
    transition: background-color 0.6s ease;
    cursor: pointer;
}
.content-header-container{
    display: flex;
    justify-content: space-between;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color:rgba(0, 0, 00, 0.9);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 8px;
    width: 80%; 
    font-family: Roboto;
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 700;
    
/* Could be more or less, depending on screen size */
}
.modal-content .movie-detail-container{
    background-color: rgba(256, 256, 256, 0.2) !important;
    cursor: auto !important;
    width: 90% !important;
    height: 125px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgba(256, 0, 0, 0.9);
    text-decoration: none;
    cursor: pointer;
}

.movie-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.movie-modal-content-container {
    background-color:rgba(0, 0, 00, 0.9);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 50px;
    border-radius: 8px;
    width: 80%; 
    font-family: Roboto;
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 700;
    height: fit-content;
    
    /* Could be more or less, depending on screen size */
}
.movie-modal-content{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movie-modal-main-content{
    margin-top: 20px; 
}
.movie-modal-content .image-container{
    height: 600px;
}
.movie-modal-content .image-container img{
    height: 100%;
    object-fit: cover;
    margin-right: 50px;
}
.movie-modal-content .movie-detail-container{
    background-color: rgba(256, 256, 256, 0.2) !important;
    cursor: auto !important;
    width: 90% !important;
    height: 125px;
}

.movie-detail-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.movie-detail-close:hover,
.movie-detail-close:focus {
    color: rgba(256, 0, 0, 0.9);
    text-decoration: none;
    cursor: pointer;
}
.movie-modal-detail span{
    font-weight: 400;
}
.login-modal{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.login{
    background-color:rgba(0, 0, 00, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 8px;
    width: 80%; 
    height: fit-content;
}

.select{
    height:50px;
    width: 50%;
    border-radius: 8px;
    background-color:  rgba(256, 256, 256, 0.2);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 10px;
}

.select option{
    font-family: Roboto;
    font-size: 16px;
    margin: 40px;
    background: rgba(0,0,0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.select option:hover{
    background: rgba(0,0,0, 0.5);
}
.next-button{
    background-color: rgba(256, 256, 256, 0.2);
    display: flex;
    padding:  10px 15px; 
    margin-top: 2.5% ;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    border-radius:8px ;
    transition: background-color 0.6s ease;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
.next-button:hover{
    background-color: rgba(0, 209, 256, 0.5);
    transition: background-color 0.6s ease;
    cursor: pointer;
}

